/*
My Custom CSS
=============
Author:  Partha Mukherjee
Updated: December 2015
Notes:	 Hand coded for Stackroute

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   #features{
     text-align: center;
   }

   footer{
      background: #333;
      color: #eee;
      font-size: 11px;
      padding: 5px;
   }

   #inputMessage{
     margin-bottom: 15px;
   }

   .list-group-item-text{
     line-height: 20px;
     margin-bottom: 15px;
   }


/* --------------------------------------
   Typography
   -------------------------------------- */
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    }

   .well .pageheader{
     margin-top:0px;
    }

   .well .pageheader h1{
     margin-top: 70%;
      }

     #featuresHeading{
       margin-top: 10px;
       margin-bottom: 10px;
       border-bottom:thin dotted;
     }

    ul.unstyled{
         list-style: none;
         padding: 0;
    }

    #features img{
      width: 100%;
    }

/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
    width:160px;
  }

 .navbar-brand{
    height: 4px;
    padding: 3px 14px;
    align-content: flex-end;

  }



  /*.navbar-responsive-collapse{

    word-spacing: 0px;

  }*/
  .navbar-responsive-collapse li a{
      color:black;
  }

  .navbar-responsive-collapse li a:hover{
      color:crimson;
  }

.dropdown-menu{

  background-color:#eee;

}


/* --------------------------------------
   Carousel
   -------------------------------------- */
  #my_carousel{
     margin: 300px auto 20px;
     width:100%;
   }

   .carousel-caption h4{
     font-size:40px;
     color: white;
      }

    #my_carousel .item {
      height:400px;
    }



/* --------------------------------------
   Global Styles
   -------------------------------------- */
   #feat{
     margin-top:60px;
   }

   #features p{
     text-align: left;
     margin-top: 5px;
     font-size: 17px;
   }


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width:480px){
  #my_carousel.item {
    width:100%;
  }
  #my_carousel{
    width: 100%;
    margin:60px auto 20px;
  }

  .carousel-caption h4{
     font-size:18px;
     color: white;
   }
.navbar-nav li a{
  //padding: 10px;
  margin-top: 27px;
  margin-bottom: -15px;
}


}

/* Landscape phone to portrait tablet */
@media(max-width: 768px) {
  #my_carousel{
     width: 100%;
     margin: 60px auto 20px;
   }
   #my_carousel .item {
     width:100%;
   }
   #slide1 img,#slide2 img,#slide3 img{
     height:100%;
   }

    .carousel-caption h4{
      font-size:30px;
      color: white;
    }
      .navbar-brand img{
      width:150px;
    }

}
@media(max-width: 1000px) {

  #my_carousel{
     width: 100%;
     margin: 60px auto 20px;
   }

  #my_carousel.item{
    width:100%;
  }
  #slide1 img,#slide2 img,#slide3 img{
    height:100%;
  }

  .navbar-brand img{
  width:150px;
}
  .navbar-responsive-collapse li a{
      padding:4px;
  }

  .carousel-caption h4{
    font-size:40px;
    color: white;
  }

}
@media(max-width: 1200px) {

  #my_carousel{
    margin:60px auto 20px;
  }

  #slide1 img,#slide2 img,#slide3 img{
    height:100%;
  }

}
/* Large desktop */
@media (min-width: 1200px) {
  #my_carousel{
    margin:60px auto 20px;
  }
  #slide1 img,#slide2 img,#slide3 img{
    height:100%;
  }

  }
