/*
My Custom CSS
=============
Author:  Partha Mukherjee
Updated: December 2015
Notes:	 Hand coded for Stackroute

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   #features{
     text-align: center;
   }

   #features img{
       margin: 0 0 20px;
       width: 340px;
   }

   footer{
      background: #333;
      color: #eee;
      font-size: 11px;
      padding: 5px;


   }


/* --------------------------------------
   Typography
   -------------------------------------- */
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    }

   .well .pageheader{
     margin-top:0;
    }

   .well .pageheader h1{
     margin-top: 70%;
      }
     #featuresHeading{
       margin-top: 10px;
       margin-bottom: 10px;
       border-bottom:thin dotted;
     }

    ul.unstyled{
         list-style: none;
         padding: 0;

    }



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
    width:160px;
  }
 .navbar-brand{
    height: 4px;
    padding: 3px 14px;
    align-content: flex-end;
  }
  .navi{
background-color: black;

  }


/* --------------------------------------
   Carousel
   -------------------------------------- */
#my_carousel{
  margin-top: 60px;
}

.carousel-caption h4{
  font-size:40px;
  color: crimson;
}
#my_carousel .item {height:400px;}

  #slide1{
    background:url("../../images/slider1_mid.jpg") top center no-repeat;
  }
  #slide2{
    background:url("../../images/slider2_mid.jpg") top center no-repeat;
  }
  #slide3{
    background:url("../../images/slider3_mid.jpg") top center no-repeat;
  }



/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
  margin-top: 20px;
  display: none;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #my_carousel .item {height:310px;}

    #slide1{
      background:url("../../images/slider1_sml.jpg") top center no-repeat;

    }
    #slide2{
      background:url("../../images/slider2_sml.jpg") top center no-repeat;

    }
    #slide3{
      background:url("../../images/slider3_sml.jpg") top center no-repeat;
     }

   }


/* Large desktop */
@media (min-width: 1200px) {
   #my_carousel .item {height:500px;}
    #slide1{
      background:url("../../images/slider1.jpg") top center no-repeat;

    }
    #slide2{
      background:url("../../images/slider2.jpg") top center no-repeat;

    }
    #slide3{
      background:url("../../images/slider3.jpg") top center no-repeat;

    }
  }
